# OS-specific files
.DS_Store
Thumbs.db
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# .env files
.env
.env.prod
.env.test

# Edit to your liking

# Compiled files
**/target/

# Dependency directories
/node_modules/
/vendor/

# Rust toolchain
/.rustup/
/.cargo/

# Build artifacts
*.o
*.so
*.rlib
*.dll
*.exe

# Generated documentation
/doc/

bin/
